<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Ninja Gold</title>
</head>

<body class='bg-dark text-light' >
    <div class="vh-100 d-flex align-items-center text-center">
        <div class="mx-auto">
            <h1 class="text-center text-warning">Gold:{{request.session.gold}}</h1>

            <div class="row">

                <div class="col  m-2 text-center">
                    <img src="{% static 'ninja_gold_app/img/farm.jpg' %}" class="img-thumbnail" style="min-height: 335px" />
                    <h5 class="text-center">(Earn 10-20 gold)</h5>
                    <form action="/process_money" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="building" value="farm" />
                        <input type="submit" value="Find Gold!" />
                    </form>

                </div>

                <div class="col  m-2 text-center">
                    <img src="{% static 'ninja_gold_app/img/cave.jpg' %}" class="img-thumbnail" style="min-height: 335px" />
                    <h5 class="text-center">(Earn 5-10 gold)</h5>
                    <form action="/process_money" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="building" value="cave" />
                        <input type="submit" value="Find Gold!" />
                    </form>

                </div>

                <div class="col  m-2 text-center">
                    <img src="{% static 'ninja_gold_app/img/house.jpg' %}" class="img-thumbnail" style="min-height: 335px" />
                    <h5 class="text-center">(Earn 2-5 gold)</h5>
                    <form action="/process_money" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="building" value="house" />
                        <input type="submit" value="Find Gold!" />
                    </form>

                </div>

                <div class="col  m-2 text-center">
                    <img src="{% static 'ninja_gold_app/img/casino.jpg' %}" class="img-thumbnail" style="min-height: 335px" />
                    <h5 class="text-center">(Earn/Lose 0-50 gold)</h5>
                    <form action="/process_money" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="building" value="casino" />
                        <input type="submit" value="Find Gold!" />
                    </form>

                </div>
            </div>

            <a class="btn btn-danger text-center" href="/destroy_session" role="button">Reset</a><br><br>

            <p>Activities:</p>
            <div class="border border-light overflow-auto" style="min-height: 250px; max-height: 250px">
                {% for item in activities %}
                {{item|safe}}
                {% endfor%}
            </div>

        </div>
    </div>
</body>

</html>